.searchBarContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5em;
    padding: 0 25px;
}

.logo {
    width: 3em;
}

.searchBar {
    width: 40%;
    height: 2em;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
}

.searchBarInput {
    width: 100%;
    height: 100%;
    border: #F97316 3px solid;
    border-radius: 10px;
    padding: 0 1rem 0 1rem;
    color:#F97316;
    font-weight: bold;
    font-size: 1.2rem;
}

.searchBarInput::placeholder {
    color: #F97316;
    opacity: 0.6;
}

.searchBarInput:focus {
    outline: none;
}

@media screen and (max-width: 600px) { 
    .searchBarContainer {
        display: block;
        position:absolute;
        top: 20px;
        left: 20px;
    }
    .logo {
        display: none;
    }
    .searchBarInput {
        border: white 3px solid;
    }
}